<template name="aboutUs">

	<div style="width: 50%; float: left;">
		<span style="font-size: 20px; float:right"><img class="" src="/images/em.png" alt="Ethics Monitor" style="height:100px;width:100px;"></span>
	</div>
	<div style="width: 50%; float: right;">
		<div style="text-align:center;">
			<div style="color: lightblue; width:80%; margin: 0 auto;"><i>
				"Photojournalism has no Bible, no rabbinical college, no Pope to define correct choices. There is no sole arbiter of what is or isn't ethical, and even if there were, the line isn't always black and white." - Kenneth Kobré
			</i></div>
		</div>
		<br>
		<p style="text-align:center;">
			Ethics Monitor is an initiative of <a href="http://www.goa-cap.com" target="_blank">Goa Center for Alternative Photography (Goa-CAP)</a>
		</p>
		<br>
		<p>
			Photography, after the introduction to the ethereal world of electronics has undergone a revolution that has extreme implications on the moral and ethical, as well as the legal and professional dimensions of photography. The digital revolution offers empowerment and opportunity, along with a range of new problems such as digital manipulation, legal status of ownership rights over images, intellectual property rights, reproduction rights, right to freedom, and the right to privacy.
		</p>
		<p>
			Photographers, journalists, and artists, and common person too encounter these ethical challenges in their professional and personal lives. Though not easy, but often, an answer to such challenges may emerge from brainstorming or intense discussions. Do we have a framework of ethics and morals on creating and consuming photography in India? Are ethics and morals the same? Are ethics and laws consistent in India? Should ethics be sacrificed for the higher good of the society? Do professional ethics in one discipline conflict and contradict with ethical conduct of another discipline? Can a voluntary ethical and moral framework be developed for use by photographers in India?
		</p>
		<p>
			Ethical dilemmas have been encountered in many areas of photography and have at times been the subject of much controversy. Despite this, the problem of how to tackle ethical dilemmas has received little attention. As a result, photographers faced with these dilemmas have little knowledge to draw upon, and photography groups and organisations are not fully equipped to tackle all the issues involved in dealing with ethical dilemmas. What is right and what is wrong goes unaddressed and uninformed and overtime becomes established as a normal pattern.
		</p>
		<p>
			To address these issues and to bring the ethical issues in photography to fore-front to make it a democratic process, Goa-CAP created a computer supported, conversations and learning  tool, developed primarily for photographers, artists, educators, researchers and common public.
		</p>
		<p>
			The objective of Ethics Monitor is to help photographers to overcome the ethical dilemmas in their creations by getting them democratically decided by public, and to a create role-model for professionally and ethically sensitive artists.
		</p>
		<br>
		<p style="color: lightgrey;">
			WANTED SERIES | Conversations on Photography is an interaction conceived and organised by Goa Center for Alternative Photography (Goa-CAP) and Aksgar in collaboration with Goethe-Institut/ Max Mueller Bhavan, where prominent editors, curators and publishers from the art, photography and media world will discuss critical issues on photography in an informal setting. This is a monthly discussion series which travels to different cities in India.

		</p>
	</div>

</template>