<template name="feedbackBox">
	<div class="feedback-box">
		<div class="feedback-box-content">
			{{#if customPage}}
			{{else}}
				<div class="custom-banner">
					Festival Collaboration:
					<a href="{{pathFor 'taggedDilemmas' tagName='goaphoto'}}"><img src="https://s3.amazonaws.com/ethicsmonitor/siteimages/goaphoto.png" alt="Banner" class="img-responsive" style="margin: auto;"></a>
				</div>		
			{{/if}}

			<div>
				Feedback & Suggestions
			</div>
			<div style="display: inline">

				{{#if feedbackGiven}}
					<div style="text-align: center;">
						<h3>Thank you!</h3>
						<p style="text-align: left;">
							Thank you very much for your suggestion. We appreciate the time and effort you have spent to share your insightful comments, which will be seriously considered and adequately implemented. We always welcome bright ideas from interested individuals like you and we hope that you continue to share them with us in the future.
						</p>
					</div>
					<div>
						<a href="#" class="newSuggestion" style="text-align: right;">New Suggestion</a>
					</div>
				{{else}}
					<form class="main form" style="background: aliceblue; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;">						
						<div class="form-group {{errorClass 'message'}}" >
							<label class="control-label" for="feedback"></label>
							<div class="controls" >
								<textarea name="feedback" id="feedback" type="text" value="" rows="5" placeholder="Would you have any suggestions (technical or creative) for improving the Ethics Monitor website, we'd like to hear from you. Please vote for any additional features / suggestions or submit your own ideas!" class="form-control" maxlength="255"></textarea>
								<span class="help-block">{{errorMessage 'message'}}</span>
							</div>
						</div>	
						{{#if showEmailBox}}
							<div class="form-group {{errorClass 'email'}}">
								<div class="controls">
									<input name="email" id="email" type="text" value="" placeholder="Please enter your email" class="form-control" maxlength="100"/>
									<span class="help-block">{{errorMessage 'email'}}</span>
								</div>
							</div>
						{{/if}}
						<input type="submit" value="Submit" class="btn btn-primary"/>
					</form>
				{{/if}}
			</div>
		</div>
	</div>
</template>