<template name="howItWorks">

	<div style="width: 50%; float: left;">
		<span style="font-size: 20px; float:right"><img class="" src="{{randomLogo}}" alt="Ethics Monitor" style="height:100px;width:100px;"></span>

		<div style="width: 80%;">
			<p><img class='img-responsive' src={{lastImageDilemmaUrl}} style="" alt="Dilemma Image" ></p>
			<p style="color: lightgrey;"><i>Credits: {{ccCleaner lastImageDilemmaCredits}}</i></p>
		</div>
	</div>
	<div style="width: 50%; float: right;">
		<div style=" margin: 0 auto;">
			<h3 style="text-align: center;"> How it works </h3>
			<br>
			<br>
			<p>
				<b>YOU</b> can log on to our system using existing social media interface (facebook, twitter or by registering through email).
	 		</p>
	 		<p>
				<b>YOU</b> are now ready either to decide on your side of ethics of the image, Vote and comment on any images which affect you.
			</p>
			<p>
				<b>YOU</b> have full right to vote and write a 300 word supporting text stating why you decide to make that choice.
			</p>
			<p>
				<b>YOU</b> can upload your images to the system for voting. You can upload as many images you wish to but note the purpose of Ethics Monitor is to create a discussion and dialog on ethical dilemmas and bring out clarity. So please select images and issues that you want to discuss.
			</p>
			<p>
				These votes get accrued and the ethical value is shown in the format of right or wrong over the image. This platform is only suggestive and not judgmental and the final verdict of the dilemma rests with the creator of the image.
			</p>
			<p>
				<b>You are solely responsible for the content you post.</b> Ethics Monitor is not responsible for the content posted by its users. We do not and cannot review all user content posted on Ethics Monitor. However, we reserve the right (but not the obligation) to review, screen, delete, edit and/or move any content posted on Ethics Monitor.
			</p>
		</div>
		<br>	
		{{> feedbackBox}}	
	</div>
	
</template>