<template name="howItWorks">

	<div style="width: 50%; float: left;">
		<span style="font-size: 20px; float:right"><img class="" src="/images/em.png" alt="Ethics Monitor" style="height:100px;width:100px;"></span>

		<div style="width: 80%;">
			<p><img class='img-responsive' src={{lastImageDilemmaUrl}} style="" alt="Dilemma Image" ></p>
			<p style="color: lightgrey;"><i>Credits: {{lastImageDilemmaCredits}}</i></p>
		</div>
	</div>
	<div style="width: 50%; float: right;">
		<div style=" margin: 0 auto;">
			<h3 style="text-align: center;"> How it works </h3>
			<br>
			<br>
			<p style="">
				The Artist logs on to our system using existing social media interface (facebook, twitter or by registering through email). S/he is now ready either to decide on his/her side of ethics of the image and comment on any of the images chosen by him/her.  He/she can also upload his/her images to the system for voting.
	 		</p>
	 		<p>
				Every individual has the right to vote and write a 300 word supporting text stating why “s/he decides to make that choice”. These votes get accrued and the ethical value is shown in the format of right or wrong over the image. This platform is only suggestive and not judgmental and the final verdict of the dilemma rests with the creator of the image.
			</p>
			<p>
				Through Ethics Monitor person will obtain a better understanding both of their own ethical views and those of others.
			</p>
		</div>
		<br>
		
	</div>

</template>