<template name="dilemmaItemDetail">
	<div class="dilemma" {{attributes}}>

		{{#if ownDilemma}}
			<a href="{{pathFor 'dilemmaEdit'}}" class="edit btn btn-default" style="color:#33CCFF;" title="Edit">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>
		{{/if}}

		<div class="dilemma-detail-content">
			<img src={{imageUrl}} alt="Dilemma Image" style="max-width:1000px; max-height:800px;">
			<p><h3>{{title}}</h3></p>
			<p>
				{{message}}
			</p>
			<p>
				submitted by <b>{{author}}</b>
			</p>
			<p>
				{{pluralize totalCommentsCount "Opinion"}}
			</p>

			<p>
    			<span class="glyphicon glyphicon-ok opinion-summary-yes" aria-hidden="true"></span>
    			{{commentsYesCount}}

    			<span class="glyphicon glyphicon-remove opinion-summary-no" aria-hidden="true"></span>
    			{{commentsNoCount}}	        	
			</p>
		</div>
	</div>
</template>