<template name="dilemmasList">
	{{#if customPage}}
		<div class="custom-banner">
			<a href="http://www.goaphoto.in/" target="_blank"><img src={{customPage}} alt="Banner" class="img-responsive" style="margin: auto;"></a>
		</div>
	{{/if}}

	<div class="feedbox-wrapper">
		{{> feedbackBox}}
	</div>

	<div class="dilemmas">
		{{#each dilemmasWithRank}}
			{{> dilemmaItem}}
		{{/each}}

		{{#if nextPath}}
			<a class="load-more" href="{{nextPath}}">Load More</a>
		{{else}}

		{{/if}}
	</div>
</template>