<template name="problemItem">
	<div class="problem" {{attributes}}>
		<a href='#' class="upvote btn btn-default {{upvotedClass}}" role="button">
			<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
		</a>
		<div class="problem-content">
			<h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
			<p>
				{{pluralize votes "Vote"}},
				submitted by <b>{{author}}</b>,
				<a href="{{pathFor 'problemPage'}}">{{commentsCount}} comments</a>
			</p>
		</div>

		<a href="{{pathFor 'problemPage'}}" class="discuss btn btn-default">Discuss</a>

		{{#if ownProblem}}<a href="{{pathFor 'problemEdit'}}" class="edit btn btn-default" style="color:limegreen;">Edit</a>{{/if}}
	</div>
</template>