<template name="commentSubmit">
  <form name="comment" class="comment-form form">
    <div class="form-group {{errorClass 'body'}}">
        <div class="controls">

            <a href='#' class="opinion opinion-yes btn {{opinionYesClass}}" role="button">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </a>

            <a href='#' class="opinion opinion-no btn {{opinionNoClass}}" role="button">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>

            <label for="body">{{commentInfoText}}</label>
            <textarea name="body" id="body" class="form-control" rows="3">{{myComment}}</textarea>
            <span class="help-block">{{errorMessage 'body'}}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-info" >{{commentBtnState}}</button>
  </form>
</template>