<template name="userCard">
	<div class="user-card">

		<div class="user-card-content">
			<div>
				User Profile
			</div>
			<div style="display: inline">
				<div style="float: left;">
					<img class="large-profile-pic" src="{{userPhotoLarge userId}}" alt="me">
				</div>
				<div style="float: left; margin: 5px;">
					<p><h3>{{userName}}</h3></p>
					{{#if profileLink}}
						<p style="float: left;"><a href="{{profileLink}}">Profile Link</a></p>
					{{/if}}
				</div>
			</div>
		</div>

	</div>
</template>